# Dependency directory
node_modules

# Public data
public/

# Compiled css and js
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Users Environment Variables
.lock-wscript

# OS X
*.DS_Store

# yarn
yarn.lock
.yarn-integrity
