@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
/*html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/
/* Display as present box sizing */
/**, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}*/
body {
  line-height: 1;
  background: #221f1f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1em;
}

.Header {
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, black 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, black 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 5;
}

.Logo {
  width: 151px;
  height: 41px;
  margin-right: 10px;
  -webkit-transition: margin .125s ease;
  transition: margin .125s ease;
}
.Logo svg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.Logo svg path {
  fill: #e50914;
  -webkit-transition: fill .125s ease;
  transition: fill .125s ease;
}
.Logo:hover {
  cursor: pointer;
  margin-top: 2px;
}
.Logo:hover svg path {
  fill: #ffffff !important;
}

.Navigation .link {
  color: #ffffff;
  text-decoration: none;
}
.Navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 37px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.Navigation nav ul li {
  font-weight: 400;
  padding: 7px 10px;
  font-size: 14px;
  -webkit-transition: background .125s ease;
  transition: background .125s ease;
  border-radius: 3px;
}
.Navigation nav ul li:hover {
  background: #e50914;
  cursor: pointer;
}


.Navigation .tags-box-wrapper {
  position: relative;
}
.Navigation .tags-box {
  visibility: hidden;
  opacity: 0;
  cursor: default;
  position: absolute;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  top: 40px;
  left: -40px;
  padding: 5px;
  background: radial-gradient(transparent, black);
  transition: opacity .3s;
}
.Navigation .tags-box::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 63px;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #e50914 transparent;
}
.Navigation .tags-box::before {
  margin-top: -20px;
  display: block;
  content: "";
  height: 20px;
  width: 100%;
}
.tags-box-wrapper:hover > .tags-box {
  visibility: visible;
  opacity: 1;
}
.tags-box ul {
  display: flex;
  flex-wrap: wrap;
}
.tags-box-buttons {
  position: absolute;
  right: 7px;
  top: 5px;
}
.tags-box-buttons i {
  cursor: pointer;
}

.add-navigation-tag {
  position: absolute;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: nowrap;
}
.add-navigation-tag input[type="text"] {
  position: relative;
  width: 300px;
  height: 50px;
  border: 3px solid #e50914;
  background: transparent;
  border-radius: 50px;
  color: rgb(222, 222, 222);
  font-size: 40px;
  text-align: center;
  padding: 3px 7px;
}
.add-navigation-tag input[type="text"]:focus {
  outline: none;
}
.tag-modal-buttons {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border: 2px solid #e50914;
  border-radius: 50px;
  font-size: 25px;
  overflow: hidden;
}
.tag-modal-buttons:hover {
  background: #e50914;
}
.tag-modal-buttons div {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100px;
  transition: .125s ease;
}
.tag-modal-buttons div i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
}


.Search {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  left: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}
.Search input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 20%;
  background: transparent;
  color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border: 2px solid rgba(245, 245, 241, 0.1);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}
.Search input:focus {
  border: 2px solid #e50914;
  width: 28%;
}

.Hero {
  width: 100%;
  position: relative;
  background-size: cover;
  min-height: 800px;
}
.Hero .content {
  position: relative;
  z-index: 4;
  width: 500px;
  left: 10vw;
  top: 10vw;
}
.Hero .content .logo {
  max-width: 400px;
  display: block;
  position: relative;
  left: -5px;
}
.Hero .content p {
  width: 100%;
}
.Hero .content .button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin-top: 30px;
}
.Hero .content .button-wrapper .Button:first-child {
  margin-right: 10px;
}
.Hero .overlay {
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.Hero .Button {
  background: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 241, 0.2);
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: border .125s ease, background .125s ease;
  transition: border .125s ease, background .125s ease;
}
.Hero .Button:hover {
  border: 2px solid #f5f5f1;
}
.Hero .Button[data-primary='true'] {
  border: 2px solid #e50914;
}
.Hero .Button[data-primary='true']:hover {
  background: #e50914;
}

.Hero {
  margin-bottom: -15vw;
}
