.Video-card {
  width: 500px;
  height: 600px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: url('/img/editcard_bg.png');
  overflow: hidden;
}
.Video-card .cover-wrapper {
  width: 100%;
  height: 25%;
  overflow: hidden;
  position: relative;
}
.Video-card .cover-wrapper .cover {
  box-sizing: border-box;
  position: absolute;
  width: 95%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: rgba(5, 5, 5, .5);
  color: white;
  font-size: 50px;
  font-weight: bold;
  line-height: 135px;
  text-align: center;
  border: 2px dashed #fff;
  border-radius: 10px;
}

.cover-img-wrapper {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 16px;
  background-color: black;
  position: relative;
}
.cover-img-wrapper:hover > #cover-img {
  opacity: 0.3;
}
.cover-img-wrapper:hover div {
  display: block;
}
.cover-img-wrapper div {
  display: none;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 40px;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
}
.cover-img-wrapper div i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
}

#cover-img {
  width: 100%;
}

.Video-card .title {
  position: relative;
  width: 80%;
  left: 10%;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,.8);
  font-family: 'times', serif;
  font-size: 30px;
  line-height: 30px;
  height: 3%;
  margin-top: 5px;
  text-align: center;
  padding: 10px;
  background: transparent;
  color: rgb(220, 220, 220);
}
.Video-card .title:focus {
  outline: 0;
  color: white;
}
.Video-card .title::placeholder {
  color: rgba(130, 122, 126, 0.88);
}

.Video-card .horizon-scroll {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 25%;
  margin: 0, 10px, 0, 10px;
}
.horizon-scroll .add-button {
  background: rgb(43, 199, 110);
  border-radius: 50%;
  color: #e4ecfa;
  cursor: pointer;
  width: 32px;
  height: 32px;
  line-height: 32px;
  position: absolute;
  top: 10px;
  right: 20px;
  transition: 0.5s;
  z-index: 6;

  text-align: center;
  text-decoration: none;
  font-size: 23px;
  font-weight: 100;
  font-family: "Segoe UI";
}
.horizon-scroll .add-button:hover {
  background: rgb(111, 228, 161);
  padding: -2px;
}
.horizon-scroll .add-button:before {
  border-radius: 50%;
  border: 2px solid rgb(43, 199, 110);
  box-shadow: 0 0px 15px rgb(43, 199, 110), 0 0px 15px rgb(43, 199, 110) inset;
  content: "";
  position: absolute;
  height: 38px;
  width: 38px;
  top: 50%;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}
.horizon-scroll .add-button:hover:before {
  transform: scale(1.05);
}

.Video-card .horizon-scroll .cards-wrapper {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 25%;
  overflow: auto;
}
.Video-card .horizon-scroll ul {
  position: absolute;
  display: flex;
  height: 100%;
}
.Video-card .horizon-scroll ul li {
  cursor: auto;
  width: 100px;
  height: 70px;
  margin-left: 7px;
  background: transparent;
  border: 2px solid rgb(43, 199, 110);
  border-radius: 10px;
  box-shadow: 0 0px 15px rgb(43, 199, 110), 0 0px 15px rgb(43, 199, 110) inset;
  padding: 2px;
  transition: .2s;
}
.Video-card .horizon-scroll ul li:hover {
  width: 110px;
  height: 80px;
}


#edit-resource-card {
  visibility: hidden;
  position: fixed;
  width: 300px;
  height: 160px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: #2ecc71;*/
  background-color: rgb(63, 224, 105);
  color: black;
  box-shadow: 0 19px 38px 15px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 5px;
  z-index: 7;
  opacity: 0;
  overflow: hidden;
  transition: opacity .8s, top .4s ease;
}
#edit-resource-card .resource-text-input {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
#edit-resource-card .resource-text-input input {
  outline: none;
  border: 0;
  color: black;
  background: transparent;
  font-family: "Lato", sans-serif;
  flex: 1 0 auto;
  font-size: 14px;
  font-weight: 400;
}
#edit-resource-card .resource-text-input label::before {
  align-items: center;
  color: black;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}
#edit-resource-card .resource-text-input input[name='title'] ~ label::before {
  content: "\f15c";
}
#edit-resource-card .resource-text-input input[name='size'] ~ label::before {
  content: "\f07b";
}
#edit-resource-card .resource-text-input input[name='magnet'] ~ label::before {
  content: "\f076";
}
#edit-resource-card .resource-text-input label {
  font-family: FontAwesome;
  font-size: 13px;
}
#edit-resource-card button {
  background: transparent;
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 30px;
  bottom: 0;
  border: 0;
  border-radius: 0;
  font-size: 18px;
  font-weight: 500px;
  background: transparent;
  transition: transform .3s;
}
#edit-resource-card button:hover {
  /*transform: rotateX(60deg);*/
}
#edit-resource-card button[name="submit"] {
  left: 0;
  color: white;
  background-color: rgb(50, 180, 84);
}
#edit-resource-card button[name="cancel"] {
  left: 50%;
  color: white;
  background-color: rgb(159, 190, 167);
}


.Video-card .intro {
  position: absolute;
  box-sizing: border-box;
  width: 95%;
  height: 30%;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
  color: rgb(220, 220, 220);
  font-size: 16px;
  word-wrap: break-word;
  border: 0px;
  margin-top: 10px;
  padding: 6px;
  background: rgba(5,5,5,.5);
  border-radius: 10px;
}
.Video-card .intro:focus {
  outline: 0;
}
textarea.intro {
  resize: none;
}
