.Video-card {
  width: 40vw;
  height: 80vh;
  position: fixed;
  left: 30vw;
  bottom: 10vh;
  border-radius: 5px;
  z-index: 10000;
  background: rgb(30, 30, 30);
  overflow: auto;
}

.Video-card .cover-wrapper {
  width: 100%;
  height: 25%;
  overflow: hidden;
  position: relative;
}

.Video-card .cover-wrapper .cover {
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  background: #6e6868;
  color: white;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.3em;
  text-align: center;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #6e6868;
  /*text-shadow: -1px -1px #aa3030;*/
}

.cover-img-wrapper {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 16px;
  background-color: black;
  position: relative;
}

.cover-img-wrapper:hover > #cover-img {
  opacity: 0.3;
}

.cover-img-wrapper:hover div {
  display: block;
}

.cover-img-wrapper div {
  display: none;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 40px;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
}

.cover-img-wrapper div i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
}

#cover-img {
  width: 100%;
}

.Video-card .title {
  position: relative;
  width: 80%;
  left: 10%;
  border: 0;
  border-bottom: 2px solid #1976D2;
  font-family: 'Andada', serif;
  font-size: 30px;
  line-height: 35px;
  /*height: 70px;*/
  text-align: center;
  padding: 10px;
  background: transparent;
  color: #BBDEFB;
}

.Video-card .title:focus {
  outline: 0;
  color: #BBDEFB;
}

.Video-card .title::placeholder {
  color: #1976D2;
}

.Video-card .horizon-scroll {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 25%;
  margin: 0, 10px, 0, 10px;
}

.Video-card .horizon-scroll .add-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  color: rgb(119, 236, 96);
  font-size: 25px;
}

.Video-card .horizon-scroll .no-resources {
  position: absolute;
  width: 100%;
  bottom: 30%;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.3em;
  text-align: center;
  vertical-align: middle;
  color: #9a9a9a;
}

.Video-card .horizon-scroll .resource-cards {
  position: absolute;
  overflow: auto;
  white-space: nowrap;
}

.Video-card .horizon-scroll .card {
  position: flex;
  width: 30px;
  height: 20px;
  border: 2px solid green;
  border-radius: 3px;
  margin: 5px, 10px, 5px, 10px;
  padding: 2px;
  text-decoration: none;
  display: inline-block;
}


#edit-resource-card {
  display: none;
  position: fixed;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2ecc71;
  color: black;
  border-radius: 5px;
  z-index: 6;
}

#edit-resource-card .Input {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

#edit-resource-card .Input input {
  outline: none;
  border: 0;
  color: black;
  background: transparent;
  font-family: "Lato", sans-serif;
  flex: 1 0 auto;
  font-size: 14px;
  font-weight: 300;
}

#edit-resource-card .Input label::before {
  align-items: center;
  color: black;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

#edit-resource-card .Input input[name='title'] ~ label::before {
  content: "\f15c";
}

#edit-resource-card .Input input[name='size'] ~ label::before {
  content: "\f07b";
}

#edit-resource-card .Input input[name='magnet'] ~ label::before {
  content: "\f076";
}

#edit-resource-card .Input label {
  font-family: FontAwesome;
  font-size: 13px;
}


.Video-card .intro {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  color: white;
  border: 1px solid #9a9a9a;
  margin: 0, 10px, 0, 10px;
  padding: 3px;
  background: transparent;
  border-radius: 2px;
}

.Video-card .intro:focus {
  outline: 0;
}
