.cover-title-wrapper {
  position: relative;
  width: 100vw;
  height: 70vh;
  color: #ffffff;
  background-size: cover;
}
.cover-title-wrapper .overlay {
  background: linear-gradient(to bottom, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 30%;
  position: absolute;
  z-index: 3;
  bottom: -5px;
  left: 0;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.cover-title-wrapper .title {
  display: block;
  position: absolute;
  font-size: 55px;
  bottom: 45px;
  left: 60px;
  z-index: 4;
}
.videopage-content .tags {
  display: block;
  position: relative;
  width: 80%;
  min-width: 20%;
  left: 5%;
  margin: 15px 0;
  font-size: 15px;
}
.videopage-content .tags ul {
  display: flex;
  width: 100%;
}
.videopage-content .tags ul li {
  display: flex;
  position: relative;
  border-radius: 5px;
  border: 2px solid rgb(246, 86, 130);
  color: rgb(246, 86, 130);
  padding: 4px 5px;
  margin: 4px 4px;
}

.videopage-rsc {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 80%;
  height: 120px;
  left: 4%;
  margin: 20px 0;
  overflow: hidden;
}
.videopage-cards-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.videopage-cards-wrapper ul {
  position: absolute;
  display: flex;
  height: 100%;
}
.videopage-cards-wrapper ul li {
  cursor: pointer;
  width: 130px;
  height: 100px;
  margin-left: 20px;
  border: 2px solid rgb(43, 199, 110);
  border-radius: 10px;
  box-shadow: 0 0px 15px rgb(43, 199, 110), 0 0px 15px rgb(43, 199, 110) inset;
  padding: 3px;
  transition: .2s;
}
.videopage-cards-wrapper ul li:hover {
}
.videopage-cards-wrapper li > div {
  width: 100%;
  height: 33%;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}
.videopage-cards-wrapper .rsc-magnet {
  cursor: pointer;
  font-size: 20px;
  color: rgb(246, 86, 130);
  transition: .2s ease;
}
.videopage-cards-wrapper .rsc-magnet:hover {
  color: rgb(250, 150, 177);
}
.videopage-cards-wrapper .rsc-magnet:active {

}
.videopage-cards-wrapper .magnet-content {
  display: none;
}

.videopage-content .intro {
  display: block;
  position: relative;
  width: 88%;
  left: 5%;
  margin: 20px 0;
}
.videopage-content .intro p {
  font-size: 20px;
}
